
  <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/home">
      <%=image_tag('logo_apps.png')%>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
         <%if user_signed_in?%>
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fa fa-fw fa-envelope"></i>
             <span class="d-lg-none">Messages
               <span class="badge badge-pill badge-primary">12 New</span>
             </span>
             <span class="indicator text-primary d-none d-lg-block">
               <i class="fa fa-fw fa-circle"></i>
             </span>
           </a>
           <div class="dropdown-menu" aria-labelledby="messagesDropdown">
             <h6 class="dropdown-header">New Messages:</h6>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">
               <strong>David Miller</strong>
               <span class="small float-right text-muted">11:21 AM</span>
               <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
             </a>
             <a class="dropdown-item small" href="#">View all messages</a>
           </div>
         </li>
        <li class="nav-item"><a class="nav-link" href="/home">Home</a> <li>
        <li class="nav-item"><a class="nav-link" href="/compose_messages/new">New Message</a> <li>
        <li class="nav-item"><a class="nav-link" href="/contacts/new">Add Contacts</a> <li>

      <%end%>
        <li class="nav-item">
          <%if user_signed_in?%>
            <%=link_to destroy_user_session_path, method: :delete, class:"nav-link"  do %>
            <i class="fa fa-fw fa-sign-out"></i>Logout
          <%end%>
           </li>
            <%else%>

          <li class="nav-item">
              <%=link_to new_user_session_path, class:"nav-link btn btn-outline-warning my-2 my-sm-0" do   %>
                <i class="fa fa-fw fa-sign-out"></i>Sign in
            <%end%>


            <%end%>
        </li>

      </ul>
    </div>
  </nav>
</div>
