<div class="container-fluid">
  <div class="shadow-sm p-3 mb-5 bg-white rounded">
    <h4>Sent SMS</h4>
    <span style="margin-top: -30px;" class="float-right"> <a href="/compose_messages"> <i class="fa fa-window-close" data-toggle="tooltip" title="Close"> </i></a></span>
  </div>

  <div class="shadow-sm p-3 mb-5 bg-white rounded">
   <%if current_user && @compose_message.user == current_user%>
      <strong>To:</strong> | <%= @compose_message.recipient %>
    <hr>
    <p>
      <%= @compose_message.message %>
    </p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <%= link_to @compose_message, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-sm btn-outline-secondary" do%>
                <i class="fa fa-trash"></i> Delete
              <%end%>
            </div>
            <small class="text-muted"><%=@compose_message.created_at.to_time.strftime("%m/%d/%y %I:%M:%S %p")%></small>
        </div>
    <%end%>
  </div>
</div>
