<div class="container-fluid">

   <ul class="nav nav-tabs" role="tablist">
     <li class="nav-item"><a class="nav-link active" href="#home" data-toggle="tab"><i class="fa fa-plus-circle"></i> Add</a></li>
     <li class="nav-item"><a class="nav-link" href="#sub" data-toggle="tab"><i class="fa fa-download"></i> Import</a></li>
   </ul>

   <div class="tab-content">
     <div role="tabpanel" class="tab-pane active" id="home">
       <br>
       <div class="row">
       <div class="container-fluid">
         <div class="shadow-sm p-3 mb-5 bg-white rounded">
           <h4>CreateContact</h4>
           <span style="margin-top: -30px;" class="float-right"> <a href="/contacts"> <i class="fa fa-window-close" data-toggle="tooltip" title="Close"> </i></a></span>
         </div>
         <div class="shadow-sm p-3 mb-5 bg-white rounded">
          <%= render 'form', contact: @contact %>
         </div>
       </div>
       </div>
     </div>

     <div role="tabpanel" class="tab-pane" id="sub">
       <br>
       <div class="row">
       <div class="container-fluid">
         <div class="shadow-sm p-3 mb-5 bg-white rounded">
           <h4>Import Contacts</h4>
           <span style="margin-top: -30px;" class="float-right"> <a href="/contacts"> <i class="fa fa-window-close" data-toggle="tooltip" title="Close"> </i></a></span>
           <p>
          Select a file on your computer that contains the data that you would like to import, or download the template to get a head start on creating the import file. <br>
          <a href="http://www.sharecsv.com/dl/3da4a33b65766225b7331b2d957d2301/sample.csv">Download Import File Template </a></p>
         </div>

         <div class="shadow-sm p-3 mb-5 bg-white rounded">
           <%= render 'import' %>
         </div>
       </div>
       </div>
     </div>
   </div>
</div>
