// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";

$primary-color      :#f58435;
$secondary-color    :#6c757d;
body{background: #f3f3f3 asset-url('globe-background.png') bottom left no-repeat;}

a{color: $primary-color;}
a:hover{color: $secondary-color;}

.btn-warning {
    color: #212529;
    background-color: $primary-color;
    border-color: $primary-color;
}


.btn-outline-warning {
    color: #ffc107;
    background-color: transparent;
    background-image: none;
    border-color: $primary-color;
}
.file-field.medium .file-path-wrapper {
height: 3rem; }
.file-field.medium .file-path-wrapper .file-path {
height: 2.8rem; }

.file-field.big-2 .file-path-wrapper {
height: 3.7rem; }
.file-field.big-2 .file-path-wrapper .file-path {
height: 3.5rem; }


a:link {text-decoration: none;}
a:visited {  text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
.bg-danger{color:#fff}
.bg-primary {background-color: $primary-color !important;}
section#about {padding: 10px;}
section {padding: 8rem 0;}


.parallex-bg-about {
  color: $primary-color ;
  font-size: 100%;
  width: 100%;
  height: auto;
  padding: 50px;
  position: relative;
  background: image-url('numbers-background.jpg') repeat fixed;
}
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: asset-url("header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.masthead hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary-color;
}

.masthead hr.light {
  border-color: #fff;
}
