// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";

$primary-color      :#f58435;
$secondary-color    :#6c757d;
body{background: #f3f3f3 asset-url('globe-background.png') bottom left no-repeat;}
footer{margin-bottom:  -50px;}
.text-justify{text-align: justify;}
.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .custom-select.is-invalid {
    border-color: $primary-color;
}

.my-icon {text-shadow: 0px 0px 3px $secondary-color;}
.fa-border {margin-left: 5px;}
.border-bt{border-top: 1px solid #e6ebef;}
.List__Item[data-v-9de6ee4e] {
 height:64px;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 position:relative;
 padding-left:72px;
 padding-right:16px;
 background:#fff;
 -webkit-transition:all .2s;
 transition:all .2s;
 color:#263238;
 overflow:hidden
}
.List__Item[data-v-9de6ee4e]:hover {
 background:rgba(0,0,0,.02)
}
.List__Item[data-v-9de6ee4e]:before {
 content:"";
 height:2px;
 width:calc(100% - 72px);
 position:absolute;
 bottom:-1px;
 left:72px;
 text-align: left;
 background:#e6ebef
}
.List__Item[data-v-9de6ee4e]:last-child:before {
 height:0
}
.List__Icon[data-v-9de6ee4e] {
 position:absolute;
 left:0;
 top:0;
 width:72px;
 height:64px;
 -webkit-box-flex:0;
 -ms-flex:0 0 72px;
 flex:0 0 72px;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:center;
 -ms-flex-pack:center;
 justify-content:center
}

.List[data-v-9de6ee4e] {
    margin-bottom: 12px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px -1px #c6c8c9;
    -moz-box-shadow: 0px 0px 10px -1px #c6c8c9;
    box-shadow: 0px 0px 10px -1px #c6c8c9;
    border-radius: 6px;
    overflow: hidden;
}
.List__Icon svg[data-v-9de6ee4e] {
 fill:$primary-color
}
.List__Info[data-v-9de6ee4e] {
 line-height:1;
 font-size:14px;
 width:100%;
 text-align: left;
}
.List__Info div[data-v-9de6ee4e]:nth-child(2) {
 margin-top:8px;
 font-size:12px;
 line-height:1;
 color:#5f7d8c
}
.ProfileTag[data-v-9de6ee4e] {
 display:inline-block;
 position:relative;
 margin-top:16px;
 overflow:hidden;
 background:#e6ebef;
 padding-right:16px;
 padding-left:38px;
 font-size:12px;
 line-height:30px;
}
.ProfileTag[data-v-9de6ee4e],.ProfileTag__Icon[data-v-9de6ee4e] {
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 height:30px;
 border-radius:15px;
}
.ProfileTag__Icon[data-v-9de6ee4e] {
 position:absolute;
 left:0;
 top:0;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:center;
 -ms-flex-pack:center;
 justify-content:center;
 width:30px
}
.ProfileTag__Icon svg[data-v-9de6ee4e] {
 height:16px;
 width:auto
}
.ProfileTag__Name[data-v-9de6ee4e] {
 white-space:nowrap;
 text-overflow:ellipsis
}
.profile-action{
  width: 100%;
  border-top: 1px solid #e6ebef;
      margin-top: 10px
}
.ProfileAction svg[data-v-9de6ee4e] {fill: $primary-color;}
.ProfileAction[data-v-9de6ee4e] {
    color: $primary-color;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    padding: 8px;
    text-transform: uppercase;
    line-height: 1.2;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: $secondary-color;
    border-radius: 1px;
}

.nav-pills .nav-link a {
    color: $secondary-color;

}

.avatar {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.avatar-2 {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: -2px;
}
.avatar-thumb{
  vertical-align: middle;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}
p.media-body{text-align: justify;}
a{color: $primary-color;}
a:hover{color: $secondary-color;}
.page-item.active .page-link{
    z-index: 1;
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
}
.page-link{
  color:$primary-color;
}
.page-link:hover{
  color:$secondary-color;
}
.text-center{
  text-align: center;
}
.btn-warning {
    color: #212529;
    background-color: $primary-color;
    border-color: $primary-color;
}


.btn-outline-warning {
    color: #ffc107;
    background-color: transparent;
    background-image: none;
    border-color: $primary-color;
}
.file-field.medium .file-path-wrapper {
height: 3rem; }
.file-field.medium .file-path-wrapper .file-path {
height: 2.8rem; }

.file-field.big-2 .file-path-wrapper {
height: 3.7rem; }
.file-field.big-2 .file-path-wrapper .file-path {
height: 3.5rem; }


a:link {text-decoration: none;}
a:visited {  text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
.bg-danger{color:#fff}
.bg-primary {background-color: $primary-color !important;}
section#about {padding: 10px;}
section {padding: 8rem 0;}


.parallex-bg-about {
  color: $primary-color ;
  font-size: 100%;
  width: 100%;
  height: auto;
  padding: 50px;
  position: relative;
  background: image-url('numbers-background.jpg') repeat fixed;
}
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: asset-url("header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.masthead hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary-color;
}

.masthead hr.light {
  border-color: #fff;
}
